@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 271.5 81.3% 55.9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 270 40% 96.1%;
    --secondary-foreground: 270 47.4% 11.2%;
    --muted: 270 40% 96.1%;
    --muted-foreground: 270 16.3% 46.9%;
    --accent: 270 40% 96.1%;
    --accent-foreground: 270 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 270 31.8% 91.4%;
    --input: 270 31.8% 91.4%;
    --ring: 271.5 81.3% 55.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
